<div class="topnav">  
    <div class="span12">
        <form id="custom-search-form" class="form-search form-horizontal pull-right">
            <div class="input-append span12">
                <input type="text" class="search-query" #search placeholder="Search" (keypress)="keyPress($event,search.value)">
                <button type="submit" class="btn" (click)="searchValue(search.value)"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>
    <div class="menu">
        <a class="active" href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#features">Features</a>
        <a href="#pricing">Pricing</a>
        <a href="#contact">Contact us</a>
    </div>  
</div>