
    <app-nav (search)="searchClick($event)"></app-nav>
    <div class="row">
        <div class="col-2 left-section">
            <app-left-section (send)="click($event)" [searchData]="searchValue"></app-left-section>
        </div>
        <div class="col-10">
            <app-mid-section data="{{id}}"></app-mid-section>    
        </div>
    </div>
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
    </ngx-spinner> 