<div class="row" *ngIf="show">
    <div class="col-6 mid-section">
            <img [src]="value['images']['picture_url']" class="image">
            <div class="content">
                <div *ngIf="value['review_scores']['review_scores_rating'] > 0 ? true : false"><span>Review Score: {{value['review_scores']['review_scores_rating']}}</span></div>
                <div class="reviews" *ngIf="value['reviews'].length > 0 ? true : false"><span>Reviews:</span></div>
                <div *ngIf="value['reviews'].length > 0 ? true : false">
                    <div class="reviewer" *ngFor="let review of value['reviews']">
                        <div class="reviewsContent" *ngIf="review['reviewer_name'] && review['date']"><span class="reviewerName">{{review['reviewer_name']}}</span><span class="reviewDate">{{review['date'].substring(8,10)+"/"+ review['date'].substring(5,7) + "/" + review['date'].substring(0,4)}}</span></div>
                        <div class="reviewsComment" *ngIf="review['comments']"><span class="reviewerComment">{{review['comments']}}</span></div>
                    </div>
                </div>
            </div>
    </div>    
    <div class="col-6 right-section">
        <div class="first-section">
            <div class="row">
                <div class="col-6">
                    <div class="nameLocation">
                        <p class="name">{{value['name']}}</p>
                        <p class="location">{{value['host']['host_location']}}</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="imageHostName">
                        <img [src]="value['host']['host_picture_url']" class="hostImage">
                        <p class="hostName">{{value['host']['host_name']}}</p>
                    </div>
                </div>
            </div>
        </div> 
        <div class="second-section">
            <div class="row">
                <div class="col-6">
                    <div class="accommodatesBathrooms">
                        <p class="accommodates">Accommodates:{{value['accommodates']}}</p>
                        <p class="bathrooms" *ngIf="value['bathrooms']">Bathrooms:{{value['bathrooms']['$numberDecimal']}}</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="bedroomsBeds">
                        <p class="bedrooms">Bedrooms:{{value['bedrooms']}}</p>
                        <p class="beds">Beds:{{value['beds']}}</p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="summary">
                        <p class="summaryContent">{{value['summary']}}</p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="space">
                        <p class="spaceContent">{{value['space']}}</p>
                    </div>
                </div>
            </div>
        </div> 
        <div class="third-section">
            <div class="row">
                <div class="col-12">
                    <div class="amenities">
                        <p class="amenitiesContent">Amenities:{{value['amenities']}}</p>
                    </div>
                </div>
            </div>
        </div> 
        <div class="fourth-section">
            <div class="row">
                <div class="col-4">
                    <div class="dailyPrice">
                        <p class="dailyPriceTitle">Daily Price</p>
                        <p class="dailyPriceContent" *ngIf="value['price']">{{value['price']['$numberDecimal']}}</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="weeklyPrice">
                        <p class="weeklyPriceTitle">Weekly Price</p>
                        <p class="weeklyPriceContent" *ngIf="value['weekly_price']">{{value['weekly_price']['$numberDecimal']}}</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="monthlyPrice">
                        <p class="monthlyPriceTitle">Monthly Price</p>
                        <p class="monthlyPriceContent" *ngIf="value['monthly_price']">{{value['monthly_price']['$numberDecimal']}}</p>
                    </div>
                </div>
            </div>
        </div> 
        <div class="fifth-section">
            <div class="row">
                <div class="col-12">
                    <div class="address">
                        <p class="addressStreet">{{value['address']['street']}}</p>
                        <p class="addressStreet">{{value['address']['suburb']}}</p>
                        <p class="addressStreet">{{value['address']['country']}}</p>
                        <p class="addressStreet">{{value['address']['market']}}</p>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
