.topnav {
    overflow: hidden;
    background-color: #ffffff;
    border: 1px solid blue;
  }
  
  .topnav a {
    float:left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #dddddd;
    color: black;
  }
  
  .topnav .search-container {
    float: left;
    margin-left: 10px;
    width: 200px;
  }
  .topnav .menu{
    float: right;
    margin-right: 50px;
  }
  .topnav .menu a{
    font-size: 12px; 
  }
  .topnav .menu a:hover{
    text-decoration: none;
  }
  .span12{
      float: left;
      margin-top: 2px;
  }
  #custom-search-form {
    padding: 5px;
}

#custom-search-form .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 210px;
}

#custom-search-form button {
    border: 0;
    background: none;
    padding: 5px;
    margin-top: -5px;
    position: relative;
    left: -28px;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.search-query:focus + button {
    z-index: 3;   
}
.vertical-menu{
  height: calc( 100vh - 50px );
  overflow-y: scroll;
}

  .reviews{
    margin-top: 30px;
    border-bottom: 1px solid #dddddd;
  }
  .image{
    width: 100%;
  }
  .reviewerName{
    float:left;
  }
  .reviewDate{
    float: right;
  }
  .reviewsComment{
    float: left;
    width: 100%;
  }
  .reviewer{
    padding: 10px;
    overflow: auto;
    border-bottom: 1px solid #dddddd;
  }
  .content{
    height: auto;
    border-right: 1px solid #dddddd;
  }
  .right-section{
    margin-top: 20px;
  }
  .first-section,.second-section,.third-section,.fourth-section{
    margin-top: 10px;
    border-bottom: 1px solid #dddddd;
  }
  .vertical-menu button{
    width: 100%;
    overflow: auto;
    background-color: #fff !important;
  }
  .hostImage{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }