
        <div class="vertical-menu">
          <div *ngFor="let data of datas[0]">
            <!-- <a href="clickFunction(data._id)" class="active">{{data.name}}</a> -->
            <button (click)="clickFunction(data._id)">{{data.name}}</button>
          </div>
        </div>
